<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>New Episode</title>
</head>
<body>
  <h1>New Episode</h1>
  {{ #error }}
  <p>Something went wrong - you probably left a field blank.</p>
  {{ /error }}
  <form action="/create-episode" method="POST">
    <input name="episode-name" placeholder="name" value={{ episode.name }} >
    <input name="season-number" value="7" >
    <select name="episode-number">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <input name="airdate" placeholder="8-4-2017" value={{ episode.airdate }} >
    <textarea name="summary">{{ episode.summary}}</textarea>
    <button>Save Data</button>
</body>
</html>
